@model IEnumerable<project5_voting.Models.Debate>

@{
    ViewBag.Title = "UserDebate";
}

<h2 class="text-center">المناظرات</h2>

<div class="container mt-4" dir="rtl">
    <div class="row">
        @foreach (var debate in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>تفاصيل المناظرة</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.electionArea)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.electionArea)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.firstCandidate)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.firstCandidate)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.firstCandidateID)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.firstCandidateID)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.firstCandidateList)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.firstCandidateList)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.secondCandidate)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.secondCandidate)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.secondCandidateID)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.secondCandidateID)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.secondCandidateList)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.secondCandidateList)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.subject)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.subject)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.message)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.message)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.zoomLink)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.zoomLink)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.status)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.status)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.date)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.date)</dd>
                            </div>

                            <div class="col-sm-5">
                                <dt>@Html.DisplayNameFor(model => model.time)</dt>
                            </div>
                            <div class="col-sm-7">
                                <dd>@Html.DisplayFor(model => debate.time)</dd>
                            </div>
                        </dl>
                        <a href="@Url.Action("DebateForm", "Debate")" class="btn btn-secondary btn-animate">قدم طلب للمناظرة</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
