@model project5_voting.Models.Admin

@{
    ViewBag.Title = "addAdmain";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <main class="container border p-5 mt-5 rounded shadow-sm bg-light">
        <h1 class="text-center mb-4">Add New Admin</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>
                    <div class="form-group mb-3">
                        <label for="adminName" class="form-label">Admin Name</label>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control ", @id = "adminName", @placeholder = "Enter admin name" } })
                    </div>
                    <div class="form-group mb-3">
                        <label for="adminEmail" class="form-label">Email Address</label>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control ", @id = "adminEmail", @placeholder = "Enter admin email" } })
                    </div>
                    <div class="form-group mb-4">
                        <label for="adminPassword" class="form-label">Set Password</label>
                        @Html.EditorFor(model => model.temporaryPassword, new { htmlAttributes = new { @class = "form-control ", @id = "adminPassword", @placeholder = "Enter password" } })
                    </div>
                    <div class="d-flex  align-items-center">
                        <input type="submit" value="Add New Admin" class="btn m-lg-1"  style="color:white;  background-color:#004080"/>
                        @Html.ActionLink("Show All Admins", "showAdmin", null, new { @class = "btn text-decoration-none", style = "background-color:antiquewhite; color:black" } )
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- Custom CSS -->
    <style>
        main.container {
            max-width: 1000px;
            background-color: #f8f9fa;
        }

       

        .form-label {
            font-weight: bold;
        }

        .btn-group .btn {
            margin-right: 5px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            background-color: #004080;
        }

            .btn-group .btn:hover {
                transform: scale(1.05);
            }


        .text-decoration-none {
            text-decoration: none;
        }
    </style>



}


