@model IEnumerable<project5_voting.Models.Debate>

@{
    ViewBag.Title = "ShowDebates";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="card" dir="rtl" style="width: 1000px; margin: 20px auto;">
    <div class="card-body">
        <h4 class="card-title text-center mb-4">تحديد التاريخ والوقت</h4>
<hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>رقم الطلب</th>
                    <th>الدائرة الانتخابية</th>
                    <th>المرشح الاول</th>
                    <th>المرشح الثاني</th>
                    <th>موضوع المناظرة</th>
                    <th>الحالة</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.electionArea)</td>
                        <td>@Html.DisplayFor(modelItem => item.firstCandidate)</td>
                        <td>@Html.DisplayFor(modelItem => item.secondCandidate)</td>
                        <td>@Html.DisplayFor(modelItem => item.subject)</td>
                        @if (item.status == null)
                        {
                            <td class="text-warning">قيد الانتظار</td>
                        }
                        else if (item.status == 0)
                        {
                            <td class="text-danger">مرفوض</td>
                        }
                        else
                        {
                            <td class="text-success">مقبول</td>
                        }
                        <td>
                            @Html.ActionLink("عرض", "Show", new { id = item.id }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


