@model project5_voting.Models.Ad

@{
    ViewBag.Title = "addAdvertisement";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">إضافة حملتك الانتخابية</h2>

                    @using (Html.BeginForm("addAdvertisement", "Ads", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal" style="direction: rtl;">
                    <h4>بيانات الحملة الانتخابية</h4>
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row my-3">
                        @Html.Label("اسم المرشح ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.nationalId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nationalId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        @Html.Label("الدائرة الانتخابية ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.electionArea, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.electionArea, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        @Html.Label("اسم القائمة ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.listId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.listId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        @Html.Label(" اسم الحزب", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.partyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.partyName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        @Html.Label(" شعار الحملة", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.data, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.data, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group row my-3">
                        @Html.Label("وصف الحملة الانتخابية ", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        @Html.Label("صورة المرشح", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <input type="file" name="upload" class="form-control" />
                        </div>
                    </div>



                    <div class="form-group row my-3">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">الدفع باستخدام PayPal</button>
                        </div>
                    </div>
                </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
